.container {
  padding-top: 4rem;
  padding-bottom: 5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-image: url('/assets/blue-sea.png');
  background-size: cover;
}